body {
    margin: 0px;
}

.navbar > ul {
    display: flex;
    padding: 16px;
    background-color: antiquewhite;
    margin: 0px;
    font-size: 20px;
    gap: 16px;
}

.navbar > ul > li {
    list-style-type: none;
}

.books-list-container {
    padding: 0px 16px;
    width: 100%;
}

.books-page-container {
    display: flex;
    width: 100%;
}

.add-book-container {
    padding: 0px 16px;
    width: 100%;
}

.add-book-container > form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.delete-books {
    cursor: pointer;
    color: red;
}